[Desktop Entry]
Type=Application
Name=GRAAL-ATTACK
Comment=Lancer le Sanctuaire GRAAL-ATTACK
Exec=/usr/local/bin/graal-attack
Icon=applications-utilities
Terminal=false
X-GNOME-Autostart-enabled=true
StartupNotify=true
