[Desktop Entry]
Type=Application
Name=GRAAL-ATACK
Comment=Lancer le Sanctuaire GRAAL-ATACK
Exec=/usr/local/bin/graal-atack
Icon=applications-utilities
Terminal=false
X-GNOME-Autostart-enabled=true
StartupNotify=true
